@media (max-width: 1200px) {
    .header {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .content-sobre {
        display: block;
    }
    .sobre-tudo {
        padding: 50px 0;
    }
    .sobre-text {
        font-size: 1rem;
        letter-spacing: 0;
    }
    .perfil {
        width: 150px;
        height: 150px;
    }
    .home {
        width: 100%;
    }
    .indisponivel { 
        font-size: 1rem;
        letter-spacing: 0;
    }
}

@media (max-width: 638px) {
    .home {
        width: 90%;
        align-items: center;
    }
    .text-front {
        letter-spacing: 6px;
        font-size: 15px;
    }
    .content h1 {
        font-size: 30px;
    }
    .content img {
        height: 30px;
    }
    .menu-logo h1 {
        font-size: 20px;
    }
    .line-2 {
        margin-bottom: 20px;
    }
    .nav-links a {
        font-size: 20px;
    }
    .sobre-text {
        width: 90%;
        letter-spacing: 0;
        font-size: 12px;
    }
}

@media (max-width:421px) {
    .menu-logo h1 {
        font-size: 20px;
    }
    .line-2 {
        margin-bottom: 20px;
    }
    .nav-links a {
        font-size: 20px;
    }
    .content h1 {
        letter-spacing: 0;
    }
    .perfil {
        width: 150px;
        height: 150px;
    }
}

@media(max-width:375px) {
    .menu-logo h1 {
        font-size: 20px;
    }
    .line-2 {
        margin-bottom: 20px;
    }
    .nav-links a {
        font-size: 20px;
    }
    .content h1 {
        letter-spacing: 0;
        line-height: 70px
    }
    .contato h1 {
        font-size: 50px;
    }
}

@media (min-width:646px) and (max-width:700px) {
    .sobre-text {
        width: 90%;
        letter-spacing: 0;
    }
    .perfil {
        width: 150px;
        height: 150px;
    }
}

@media (max-width:706px) {
    .sobre-text {
        width: 90%;
    }
}

@media (max-width: 1400px) {
    .projetos {
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:360px) and (max-width:400px) {
    .contato h1 {
        font-size: 50px;
    }
}
/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .home {
        width: 100%;
    }
    .copy {
        width: 100%;
    }
}

@media (max-width:280px) {
    .nav-links a {
        font-size: 13px;
    }
    .contato h1 {
        font-size: 2.5rem;
    }
}

@media (max-width:320px) {
    .nav-links a {
        font-size: 13px;
    }
    .contato h1 {
        font-size: 2.5rem;
    }
}